<!doctype html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src='script.js'  type='text/javascript'></script>
  <link href='styles.css' rel='stylesheet' type='text/css'>
  <meta charset='utf-8'>
<title>Shopping List</title>
</head>
<body ng-app="shopModule" ng-controller="mainController">
  <div id="mainWrapper">

    <form id="addItemWrapper" ng-model="addItemWrapper">
      <input id="nameIn" ng-model="nameIn" placeholder="Item Name"/>
      <input id="priceIn" ng-model="priceIn" placeholder="Item Price"/>
      <span class="bigR">$</span>
      <button id="addItem" ng-click="addItem()">Add to List</button>
      <input id="searchBar" ng-model="searchBar" placeholder="Search Your List"/>
    </form>

    <div ng-repeat="perItem in itemList | filter: searchBar | orderBy: 'name'" class="eachItem">
      <div class="listName">{{perItem.name}}</div>
      <div class="listPrice">{{perItem.price | currency}}</div>
    </div>

    <div id="showTotal"><span class="bigL">Total:</span>{{total | currency}}</h2>

  </div>
</body>
</html>
